body {
  background: url(../img/mobil1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 1px solid black; */
}
.card {
  width: 470px;
  height: 500px;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(150px);
}
.card-tittle {
  text-align: center;
}
.card-content {
  margin-top: 5px;
  /* border: 1px solid black; */
}
